.progress-bar {
    margin: .5em 0;
}
.progress-bar__title,
.progress-bar__years-experience {
    color: #00255f;
}
.progress-bar__title {
    font-family: FranklinGothicHeavy;
}
.progress-bar__years-experience {
    font-family: Arial;
}
.progress-bar__background {
    background: #dedede;
    height: 20px;
    width: 100%;
    border-radius: 2em;
}
.progress-bar__low,
.progress-bar__low-medium,
.progress-bar__medium,
.progress-bar__medium-high,
.progress-bar__high {
    height: 20px;
    border-radius: 2em;
    background: #00255f;
}
.progress-bar__low {
    width: 10%;
}
.progress-bar__low-medium {
    width: 25%;
}
.progress-bar__medium {
    width: 50%;
}
.progress-bar__medium-high {
    width: 75%;
}
.progress-bar__high {
    width: 90%;
}
.progress-bar__low-animate{
    animation: bar-low__width 2s cubic-bezier(.65,.05,.36,1); 
}
.progress-bar__low-medium-animate{
    animation: bar-low-medium__width 2s cubic-bezier(.65,.05,.36,1); 
}
.progress-bar__medium-animate{
    animation: bar-medium__width 2s cubic-bezier(.65,.05,.36,1); 
}
.progress-bar__medium-high-animate{
    animation: bar-medium-high__width 2s cubic-bezier(.65,.05,.36,1); 
}
.progress-bar__high-animate{
    animation: bar-high__width 2s cubic-bezier(.65,.05,.36,1); 
}
@font-face {
    font-family: FranklinGothicHeavy;
    src: url(fonts/FranklinGothicStd-Hvy.ttf);
}
@keyframes bar-low__width{
    from {width: 0%; }
    to {width: 10%}
}
@keyframes bar-low-medium__width{
    from {width: 0%;}
    to {width: 25%; }
}
@keyframes bar-medium__width{
    from{width: 0%}
    to {width: 50% }
}
@keyframes bar-medium-high__width{
    from {width: 0%}
    to {width: 75%;}
}
@keyframes bar-high__width{
    from {width: 0%}
    to{width: 90%}
}
